# Copier vers .env : cp env.example .env
# Document Mixpost : https://docs.mixpost.app/lite/installation/docker

APP_NAME=Mixpost
APP_DEBUG=false

APP_DOMAIN=localhost
APP_URL=http://localhost:9000

MYSQL_DATABASE=mixpost
MYSQL_USER=mixpost
MYSQL_PASSWORD=changeme

MIXPOST_HTTP_PORT=9000

SSL_EMAIL=admin@example.com
